[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim-repos/vim-markdown"]
	path = vim-repos/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "vim-repos/vim-rails"]
	path = vim-repos/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "vim-repos/vim-cucumber"]
	path = vim-repos/vim-cucumber
	url = http://github.com/tpope/vim-cucumber.git
[submodule "vim-repos/vim-haml"]
	path = vim-repos/vim-haml
	url = http://github.com/tpope/vim-haml.git
[submodule "vim-repos/vim-surround"]
	path = vim-repos/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim-repos/vim-git"]
	path = vim-repos/vim-git
	url = http://github.com/tpope/vim-git.git
[submodule "vim-repos/nerdtree"]
	path = vim-repos/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim-repos/snipmate.vim"]
	path = vim-repos/snipmate.vim
	url = http://github.com/msanders/snipmate.vim.git
[submodule "vim-repos/vim-rdoc"]
	path = vim-repos/vim-rdoc
	url = http://github.com/hallison/vim-rdoc.git
[submodule "vim-repos/supertab"]
	path = vim-repos/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "vim-repos/vim-mru"]
	path = vim-repos/vim-mru
	url = http://github.com/ornicar/vim-mru.git
[submodule "vim-repos/vim-tcomment"]
	path = vim-repos/vim-tcomment
	url = http://github.com/tsaleh/vim-tcomment.git
